@font-face {
    font-family: "quicksand-regular";
    src: url(fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: "quicksand-medium";
    src: url(fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: "quicksand-bold";
    src: url(fonts/Quicksand-Bold.ttf)
}

@font-face {
    font-family: "quicksand-semibold";
    src: url(fonts/Quicksand-SemiBold.ttf)
}

body {
    font-family: "quicksand-regular";
    font-size: 18px;
    color: #1F363D;
    background-color: ivory;
}

button {
    font-family: "quicksand-semibold";
    font-size: 18px;
    background-color: #CFE0C3;
    border: none;
    border-radius: 4px;
}

.display {
    height: 50px;
    background-color: #CFE0C3;
    border-radius: 4px;
    font-family: "quicksand-medium";
    font-size: 30px;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.calculator-div {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #1F363D;
}

.row-0, .row-1, .row-2, .row-3, .row-4 {
    display: flex;
    flex: initial;
    gap: 10px;
}

#clear,
#seven, #eight, #nine, #divide,
#four, #five, #six, #times,
#one, #two, #three, #minus,
#zero, #equals, #plus, #point {
    height: 80px;
    width: 80px;
    color: #1F363D;
}

#clear {
    flex-grow: 1;
    background-color: #1F363D;
    color: #CFE0C3;
    border: 2px solid #CFE0C3;
}

#clear:hover {
    background-color: rgba(207, 224, 194, 0.192);
    color: #CFE0C3;
}

#equals {
    flex-grow: 1;
}

#divide, #times, #minus, #plus, #equals {
    background-color: #9EC1A3;
}
#divide:hover, #times:hover, #minus:hover, #plus:hover, #equals:hover {
    background-color: ivory;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-bottom: 30px;
    font-family: "quicksand-semibold";
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    background-color: ivory;
}

/*
COLORS
#CFE0C3
#9EC1A3
#70A9A1
#40798C
#1F363D
https://coolors.co/1f363d-40798c-70a9a1-9ec1a3-cfe0c3
*/